[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule ".src/rofi-power-menu"]
	path = .src/rofi-power-menu
	url = git@github.com:inalone/rofi-power-menu.git
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/git-prompt.zsh"]
	path = .config/zsh/plugins/git-prompt.zsh
	url = git@github.com:woefe/git-prompt.zsh.git
[submodule ".src/Betterfox"]
	path = .src/Betterfox
	url = https://github.com/yokoffing/Betterfox.git
