[Desktop Entry]
Version=1.0
Type=Application
Name=Feishin
Comment=A modern self-hosted music player
Exec=feishin --ozone-platform-hint=auto --enable-features=WaylandWindowDecorations %u
Icon=feishin
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
