[Desktop Entry]
Name=Feishin
Exec=/opt/feishin-appimage/Feishin-0.3.0-linux-x86_64.AppImage --ozone-platform-hint=auto --no-sandbox %U
Terminal=false
Type=Application
Icon=feishin
StartupWMClass=Feishin
X-AppImage-Version=0.2.0
Categories=Development;
